<% editori = ClassificaEditoreQuery.new(classe: classe, materia: materia).righe %>
<% if editori.any? %>
  <h4 class="mt-6 mb-2 text-sm font-semibold text-gray-700">Aggregato per editore</h4>
  <table class="w-full text-xs">
    <thead>
      <tr class="text-left border-b">
        <th class="py-1 pr-3">Editore</th>
        <th class="py-1 pr-3 text-right">Titoli</th>
        <th class="py-1 pr-3 text-right">Sezioni</th>
        <th class="py-1 pr-3 text-right">Alunni</th>
        <th class="py-1 pr-3 text-right">Quota %</th>
      </tr>
    </thead>
    <tbody>
      <% editori.each do |r| %>
        <tr>
          <td class="py-1 pr-3"><%= r["editore"] %></td>
          <td class="py-1 pr-3 text-right"><%= r["titoli"] %></td>
          <td class="py-1 pr-3 text-right"><%= number_with_delimiter r["sezioni"] %></td>
          <td class="py-1 pr-3 text-right"><%= number_with_delimiter r["alunni"] %></td>
          <td class="py-1 pr-3 text-right"><%= number_with_precision r["quota"], precision: 1 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
